// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
// @import '~nativescript-theme-core/scss/light';

// Colors
$white: #fff;
$black: #000;

$green-1: #b8dc60;

$blue-1: #28424e;
$blue-2: #142127;

// Fonts
$font-size-s1: 12;
$font-size-n: 14;
$font-size-m1: 16;
$font-size-l1: 20;
$font-size-l2: 24;
$font-size-l3: 28;

$accent-dark: #0020333D;
